:root {
    --blue-color: #08A6E4;
    --red-color: #FB3B64;
    --text-color: #000;
    --dark-gray: #707070;
    --medium-gray: #95989A;
    --gray: #A5A5A5;
    --white-color: #FFF;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;;
}

a {
    text-decoration: none;
}

.container {
    width: 1352px;
    margin: 0 auto;
}

/*Header section styles*/
.page-header {
    box-shadow: 0 3px 6px #00000029;
    width: 100%;
}

.page-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.header-logo {
    font-size: 32px;
    line-height: 38px;
    color: var(--blue-color);
    font-family: 'Raleway', sans-serif;
}

.header-nav-list {
    display: flex;
}

.header-nav-list li {
    margin-left: 45px;
}

.header-nav-list a {
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 3.28px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--gray);
    padding: 23px 25px;
    border-bottom: 4px solid transparent;
    cursor: pointer;
}

.header-nav-list a:hover {
    border-bottom: 4px solid var(--blue-color);
    color: var(--text-color);
}

/*Banner section styles*/
.page-banner {
    height: calc(100vh - 70px);
    background-image: url("../assets/Background.png");
    background-repeat: no-repeat;
    background-position: bottom;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-title {
    font-size: 49px;
    line-height: 59px;
    font-family: 'Raleway', sans-serif;
    margin: 138px 0 20px;
}

.banner-text {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 38px;
}

.banner-btn {
    padding: 22px 157px;
    background-color: var(--blue-color);
    border-radius: 40px;
    box-shadow: 5px 10px 14px #07ACE629;
    text-align: center;
    color: var(--white-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid transparent;
}

.banner-btn:hover {
    background-color: var(--white-color);
    color: var(--blue-color);
    border: 1px solid var(--blue-color);
}

/*Info section styles*/
.page-info .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-title {
    font-size: 36px;
    line-height: 43px;
    font-family: 'Raleway', sans-serif;
    margin: 106px 0 101px;
}

.info-summary {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-bottom: 121px;
}

.info-summary-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-circle {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    position: relative;
}

.info-img {
    position: absolute;
    top: 5px;
    right: -15px;
}

.info-int {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 6px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    margin: 18px 0 21px;
}

.info-text {
    font-size: 17px;
    line-height: 20px;
    color: var(--gray);
    text-align: center;
}

.info-circle-red {
    background-color: var(--red-color);
}

.info-circle-blue {
    background-color: var(--blue-color);
}

.info-circle-mint {
    background-color: #55DFB4;
}

.info-img-eye {
    top: 13px;
    right: -25px;
}

